

.blue .navtheme .linktheme:hover {
        background-color: #e3e2df;
      }

.blue .navtheme {
    background-color: #4cc8ee;
      }
 
  
 .blue .buttontheme .linktheme {
    color: black;
    background-color: #afcae3;
  }
  

.blue .navtheme .active{
    background-color: #04549e;
}

.blue {
    background-color:#afc7e3;
}
